#repository {
  width: 444px;

  padding: 16px;
  margin-bottom: 16px;

  border: 1px rgb(235, 232, 232) solid;
  border-radius: 6px;
}

#repository a {
  text-decoration: 0;
}

#repository span {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;

  color: rgb(3, 102, 214);
}

#repository #description {
  font-size: 12px;
  height: 36px;
  line-height: 18px;
  text-align: left;

  margin-top: 8px;
  margin-bottom: 12px;

  color: rgb(88, 96, 105);
}

#language-and-more {
  display: flex;
  align-items: center;
}

#language-and-more #language {
  font-size: 12px;

  margin-right: 16px;
  line-height: 18px;
  text-align: left;

  color: rgb(88, 96, 105);
}

#language-and-more #stars {
  line-height: 18px;
  text-align: left;
  margin-right: 16px;

  color: rgb(88, 96, 105);
}

#language-and-more #forks {
  line-height: 18px;
  text-align: left;

  color: rgb(88, 96, 105);
}

#language-and-more span {
  line-height: 21px;
  margin-left: -4px;

  color: rgb(88, 96, 105);
}

.icon-repository {
  line-height: 21px;
  margin-right: 8px;

  text-align: left;

  color: rgb(88, 96, 105);
}
